<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <style>
      table.dataframe,
      .dataframe th,
      .dataframe td {
        text-align: left;
      }
      #htmltable2 {
        margin-left: auto;
        margin-right: auto;
      }
      .block {
        display: block;
        margin: auto;
        border: none;
        background-color: #4caf50;
        color: white;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        text-align: left;
        float: left;
        overflow: hidden;
      }
      footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;
      }
    </style>
  </head>

  <body style="text-align: left">
    <h1>Welcome Users</h1>

    <!-- <form
      id="upload_form"
      action="/x"
      method="POST"
      enctype="multipart/form-data"
    >
      <input class="block" type="file" name="file" accept="uploaded_files/*" />

      <br />
      <br />
      <br />
      <br />

      <input class="block" type="submit" name="upload" value="Upload" />
    </form>
    <br />
    <br />
    <br />
    <br /> -->
    <h3> Check the presence of a Registration plate</h3>
    <br />
      <br />
    <form
      id="upload_form"
      action="/x1"
      method="POST"
      enctype="multipart/form-data"
    >
      <input class="block" type="file" name="file" accept="uploaded_files/*" />

      <br />
      <br />
      <br />
      <br />

      <input class="block" type="submit" name="upload" value="Upload" />
    </form>
    <br />
    <br />

    <br />
    <br />
    <!-- <img src="{{ im1 }}" /> -->
    <img src={{im1}}  />
    <br />
    <br />
    <img src={{im2}} />
    <br />
    <br />
    <h3> {{message}}</h3>
    

      <br />
      <br />
    </form>
    <h3> Check the condition of the tyres</h3>
    <br />
      <br />
    <form
      id="upload_form"
      action="/x2"
      method="POST"
      enctype="multipart/form-data"
    >
      <input class="block" type="file" name="file" accept="uploaded_files/*" />

      <br />
      <br />
      <br />
      <br />

      <input class="block" type="submit" name="upload" value="Upload" />
    </form>
    <br />
      <br />
      <br />
      <br />
    <img src={{im3}}  />
    <br />
    <br />
    <br />
    <br />
<h3> {{message1}}</h3>
    <br />
    <br />
    <!-- <img src="{{ im1 }}" /> -->
    <!-- <img src="plate.jpg"  /> -->
    <br />
    <br />

    

      <br />
      <br />
    </form>

    <h3> Check the whether the headlights work well</h3>
    <br />
      <br />
    <form
      id="upload_form"
      action="/x3"
      method="POST"
      enctype="multipart/form-data"
    >
      <input class="block" type="file" name="file" accept="uploaded_files/*" />

      <br />
      <br />
      <br />
      <br />

      <input class="block" type="submit" name="upload" value="Upload" />
    </form>
    <br />
      <br />
      <br />
      <br />
    <img src={{im4}}  />
    <br />
    <br />
<h3> {{message2}}</h3>
    <br />
    <br />
    <!-- <img src="{{ im1 }}" /> -->
    <!-- <img src="plate.jpg"  /> -->
    <br />
    <br />

    

      <br />
      <br />
    </form>

    <h3> Check the Horn</h3>
    <br />
      <br />
    <form
      id="upload_form"
      action="/x4"
      method="POST"
      enctype="multipart/form-data"
    >
      <input class="block" type="file" name="file" accept="uploaded_files/*" />

      <br />
      <br />
      <br />
      <br />

      <input class="block" type="submit" name="upload" value="Upload" />
    </form>
    <br />
    <br />

    <br />
      <br />
    </form>

    <h3> Check the working of the indicators</h3>
    <br />
      <br />
    <form
      id="upload_form"
      action="/x6"
      method="POST"
      enctype="multipart/form-data"
    >
      <input class="block" type="file" name="file" accept="uploaded_files/*" />

      <br />
      <br />
      <br />
      <br />

      <input class="block" type="submit" name="upload" value="Upload" />
    </form>
    <br />
    <br />

<h3> {{message3}}</h3>
    <br />
    <br />
    <!-- <img src="{{ im1 }}" /> -->
    <!-- <img src="plate.jpg"  /> -->
    <br />
    <br />

    <h3> Geolocation </h3>
    <form
      id="c"
      action="/x5"
      method="POST"
    >
      
      <br />
      <br />

      <input class="block" type="submit" name="geo" value="geo" />
    </form>
    <br />
    <br />
    <h3>{{message5}}</h3>
    <br />
    <h3>{{message6}}</h3>
    <br />
    <h3>{{message7}}</h3>

      <br />
      <br />
    </form>
  </body>
</html>
